<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SnackMapper">
	
	<!-- 전체 재고 조회 sql 템플릿 -->	
	<sql id="select-snack">
		SELECT
		SNACK_ID, name, category, quantity, brand, price, img_url
		FROM snack
	</sql>
	
	<!-- 회원 관리 기능 모음집 -->
	<!-- 회원 가입 -->
	<insert id="registerMember" parameterType="member">
		INSERT
		INTO member(member_id, name, password, vote_flag, role)
		VALUES(#{memberId}, #{name}, #{password}, #{voteFlag}, #{role})
	</insert>
	
	<!-- 회원 탈퇴 -->
	<delete id="deleteMember" parameterType="string">
		DELETE FROM member WHERE member_id=#{VALUE}
	</delete>
	
	<!-- 로그인 -->
	<select id = "login" parameterType="member" resultType = "member">
	SELECT
	member_id, name, password, vote_flag, role
	FROM member
	WHERE member_id=#{memberId} AND password=#{password}
	</select>
	
	<!-- id 중복조회 -->
	<select id = "checkDuplicateId" parameterType="String" resultType = "member">
	SELECT
	member_id, name, password, vote_flag, role
	FROM member
	WHERE member_id=#{VALUE}
	</select>
	
	<!-- 회원정보 수정-->
	<update id="updateMember" parameterType="member">
	UPDATE member SET
	password = #{password}
	WHERE member_id = #{memberId}
	</update>
	
	<!-- 마이페이지 기록 조회 -->
	<select id = "getHistory" parameterType = "member" resultType = "historyWithSnackName">
	SELECT
	s.name AS snackName, h.time, h.count 
	FROM history h JOIN snack s ON(h.snack_id = s.snack_id)
	WHERE member_id = #{memberId}
	</select>
	
	<!-- 간식 관리 기능 모음집 -->
	<!-- 전체 재고 조회 기능 -->
	<select id = "selectAll" resultType="snack">
		<include refid="select-snack"/>
	</select>
	
	<!-- 전체 투표 결과 조회 기능 -->
	<select id = "viewVote" resultType="voteWithSnackInfo">
		SELECT s.NAME as snackName, COUNT(member_id) AS count
		FROM vote v JOIN snack s ON (v.SNACK_ID = s.SNACK_ID)
		GROUP BY s.NAME
	</select>
	
	<!-- 전체 사용자 랭킹 조회 기능 -->
	<select id = "viewAllMemberRank" resultType="memberRank">
		SELECT RANK() OVER (ORDER BY h.count DESC) as rank, h.member_id, m.name, h.count
		FROM (
				 SELECT
					 member_id, sum(count) AS count
				 FROM history
				 GROUP BY member_id
			 ) h JOIN (
			MEMBER m
			) ON m.MEMBER_ID = h.MEMBER_ID
	</select>
	
	<!-- 전체 과자 랭킹 조회 기능 -->
	<select id = "viewAllSnackRank" resultType="SnackRank">
		SELECT rank, snackId, name, count, imgUrl FROM
			(SELECT RANK() OVER (ORDER BY count DESC) as rank, s.SNACK_ID as snackId, s.name as name, t.count as count, s.img_url as imgUrl
			 FROM ((
				 SELECT
					 snack_id, sum(count) AS count
				 FROM history
				 GROUP BY snack_id) t
				 JOIN snack s ON (t.snack_id=s.snack_id)))
		WHERE rank BETWEEN 1 AND 11
	</select>
	
	<!-- 과자별 사용자 랭킹 조회 기능 -->
	<select id = "viewMemberRankBySnack" parameterType="snack" resultType="memberRank">
		SELECT RANK() OVER (ORDER BY h.count DESC) as rank, h.member_id, m.name, h.count
		FROM (
				 SELECT
					 member_id, sum(count) AS count
				 FROM history
				 WHERE SNACK_ID=#{snackId}
				 GROUP BY member_id
			 ) h JOIN (
			MEMBER m
			) ON m.MEMBER_ID = h.MEMBER_ID
	</select>
	
	<!-- 간식 선택 (재고 수량 변경) -->
	<!-- Controller에서 마이너스 해주기 -->
	 <update id = "fetchSnack" parameterType="snack">
        UPDATE snack
        SET quantity = quantity - #{quantity}
        WHERE snack_id = #{snackId}
    </update>
    
	<!-- 간식 선택 (history 테이블 추가) -->
    <insert id = "registerHistory" parameterType="history">
        INSERT
        INTO history(member_id, snack_id, time, count)
        VALUES (#{memberId}, #{snackId}, sysdate, #{count})
    </insert>
    
    <!-- 간식 등록 -->
    <insert id="registerSnack" parameterType="snack">
    	INSERT
    	INTO snack(snack_id, name, price, brand, category, quantity, img_url, link)
    	select #{snackId}, #{name}, #{price}, #{brand}, #{category}, #{quantity}, #{imgUrl}, #{link}
    	FROM dual A where not exists(
    	    select 0 from SNACK where SNACK_ID = #{snackId}
		)
    </insert>
    
    <!-- 간식 투표 -->
    <insert id="voteSnack" parameterType="vote">
    	INSERT
    	INTO vote(member_id, snack_id)
    	VALUES (#{memberId}, #{snackId})
    </insert>
    
    <!-- 간식 주문 -->
	<!-- Controller에서 플러스 해주기 -->
    <update id = "orderSnack" parameterType="snack">
        UPDATE snack
        SET quantity = #{quantity}
        WHERE snack_id = #{snackId}
    </update>

	<!-- 투표 여부 확인 -->
	<select id="checkVote" parameterType="member" resultType="int">
		select count(*)
		from VOTE
		where vote.MEMBER_ID = #{memberId}
	</select>


</mapper>
















