<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SnackMapper">

	<insert id="registerMember" parameterType="member">
		INSERT
		INTO member(member_id, name, password, vote_flag, role)
		VALUES(#{memberId}, #{name}, #{password}, #{voteFlag}, #{role})
	</insert>
	
	<delete id="deleteMember" parameterType="string">
		DELETE FROM member WHERE member_id=#{VALUE}
	</delete>

	<select id = "login" resultType = "member">
	SELECT
	member_id, name, password, vote_flag, role
	FROM member
	</select>

	<resultMap type="snack" id="selectSnackRM">
		<result property="snackId" column="snack_id"/>
		<result property="name" column="name"/>
		<result property="category" column="category"/>
		<result property="quantity" column="quantity"/>
		<result property="price" column="price"/>
		<result property="imgUrl" column="img_url"/>
	</resultMap>
		
	<sql id="select-snack">
		SELECT
		snack_id, name, category, quantity, price, img_url
		FROM snack
	</sql>
	
	
	<select id = "selectAll" resultMap="selectSnackRM">
		<include refid="select-snack"/>
	</select>
	
	<select id = "login" resultType = "member">
	SELECT
	member_id, name, password, vote_flag, role
	FROM member
	</select>
	
	<update id="updateMember" parameterType="member">
	UPDATE member SET
	password = #{password}
	WHERE member_id = #{memberId}
	</update>
	
	
	
	<select id = "getHistory" parameterType = "member" resultType = "history">
	SELECT
	h.snack_id, h.time, h.count, s.name
	FROM history h JOIN snack s ON(h.snack_id = s.snack_id)
	WHERE member_id = #{memberId}
	</select>
	
</mapper>
















